

.head
{
    display: flex;
    background-color: #9999ff;
    align-items: center;
    justify-content: center;
  
    font-size: x-large;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 7, 13);
}

 nav{
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    padding-left: 2px;
}
nav ul li{
    
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    color: #000;
}
.pw{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: darkgray;
}

.pw h2{
    color: cornsilk;
    font-size: 5rem;
    background-color: #000600;
    padding: 20px;
}

.wv{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    .wv1{
        
        background-color: #e6e6e6;
        width: 30%;
        text-align: center;
        padding: 20px;
box-shadow: #9999ff;

    }

}

img {
    width: 25%;
}